<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :name, :spacia %>
      スペーシア
    <% end %>
    <%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :name, :n_box %>
      N-BOX
    <% end %>
    <%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :name, :tanto %>
      タント
    <% end %>
  </div>

  <div class="field form-group">
    <%= form.label :money %>
    <%= form.number_field :money, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label "画像をアップロード" %>
    <br>
    <%= form.file_field :image %>
  </div>

  <div class="field form-group">
    <%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :white %>
      白
    <% end %>
    <%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :black %>
      黒
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :shilver %>
      シルバー
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :red %>
      赤
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :blue %>
      青
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :green %>
      緑
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :ivory %>
      アイボリー
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :pink %>
      ピンク
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :brown %>
      茶色
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :skyblue %>
      水色
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :opwhite %>
      白（オプション）
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :twotone %>
      ２トーン
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :optwotone %>
      ２トーン（オプション）
  　<% end %>
  </div>
  
  <div class="field form-group">
    <%= form.select :grade, [
                    ['spacia_HYBRID_G', 'spacia_HYBRID_G'],
                    ['spacia_HYBRID_X', 'spacia_HYBRID_X'], 
                    ['tanto_L', 'tanto_L'],
                    ['tanto_X', 'tanto_X'],
                    ['tanto_X_turbo', 'tanto_X_turbo'],
                    ['n_box_G', 'n_box_G'],
                    ['n_box_L', 'n_box_L'],
                    ['n_box_EX', 'n_box_EX'],
                    ['n_box_L_turbo', 'n_box_L_turbo'],
                    ['n_box_EX_turbo', 'n_box_EX_turbo']
                    ] %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
