<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :name, :spacia %>
      スペーシア
    <% end %>
    <%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :name, :n_box %>
      N-BOX
    <% end %>
    <%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :name, :tanto %>
      タント
    <% end %>
  </div>

  <div class="field form-group">
    <%= form.label :money %>
    <%= form.number_field :money, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :image %>
    <%= form.text_field :image, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :white %>
      白
    <% end %>
    <%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :black %>
      黒
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :shilver %>
      シルバー
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :red %>
      赤
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :blue %>
      青
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :green %>
      緑
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :ivory %>
      アイボリー
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :pink %>
      ピンク
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :brown %>
      茶色
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :skyblue %>
      水色
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :opwhite %>
      白（オプション）
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :twotone %>
      ２トーン
  　<% end %>
  　<%= form.label(:public, for: nil, class:'post-status__label') do %>
      <%= form.radio_button :color, :optwotone %>
      ２トーン（オプション）
  　<% end %>
  　
  　<div class="field form-group">
    <%= form.label :grade %>
    <%= form.number_field :grade, class: "form-control" %>
  </div>

  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
