<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.select :name, [
                    ['スペーシア', 'スペーシア'],
                    ['N-BOX', 'N-BOX'], 
                    ['タント', 'タント']
                    ], {include_blank: '車種を選択して下さい'} %>
  </div>

  <div class="field form-group">
    <%= form.select :color, [
                    ['ホワイト', 'ホワイト'],
                    ['ブラック', 'ブラック'], 
                    ['シルバー', 'シルバー'],
                    ['レッド', 'レッド'],
                    ['ブルー', 'ブルー'],
                    ['グリーン', 'グリーン'],
                    ['アイボリー', 'アイボリー'],
                    ['ピンク', 'ピンク'],
                    ['ブラウン', 'ブラウン'],
                    ['スカイブルー', 'スカイブルー'],
                    ['オプションカラー', 'オプションカラー'],
                    ['プレミアムカラー', 'プレミアムカラー'],
                    ['２トーン', '２トーン'],
                    ['オプション２トーン', 'オプション２トーン']
                    ], {include_blank: 'ボディカラーを選択して下さい'} %>
  </div>
  
  <div class="field form-group">
    <%= form.select :grade, [
                    ['Spacia HYBRID G', 'Spacia HYBRID G'],
                    ['Spacia HYBRID X', 'Spacia HYBRID X'], 
                    ['Tanto L', 'Tanto L'],
                    ['Tanto X', 'Tanto X'],
                    ['Tanto X ターボ', 'Tanto X ターボ'],
                    ['N-BOX G', 'N-BOX G'],
                    ['N-BOX L', 'N-BOX L'],
                    ['N-BOX EX', 'N-BOX EX'],
                    ['N-BOX L ターボ', 'N-BOX L ターボ'],
                    ['N-BOX EX ターボ', 'N-BOX EX ターボ']
                    ], {include_blank: 'グレードを選択して下さい'} %>
  </div>
  
  <div class="field form-group">
    
    <%= form.select :money, [
                    ['スペーシアG', 1380500],
                    ['スペーシアG　オプションカラー', 1402500], 
                    ['スペーシアX', 1524600],
                    ['スペーシアX　オプションカラー', 1546600],
                    ['スペーシアX　2トーン', 1568600],
                    ['N-BOX G', 1428900],
                    ['N-BOX G オプションカラー', 1461900],
                    ['N-BOX G プレミアムカラー', 1483900],
                    ['N-BOX L',1559800],
                    ['N-BOX L オプションカラー', 1592800],
                    ['N-BOX L プレミアムカラー', 1614800],
                    ['N-BOX Lターボ', 1758900],
                    ['N-BOX Lターボ オプションカラー', 1791900],
                    ['N-BOX Lターボ プレミアムカラー', 1813900],
                    ['N-BOX EX', 1658800],
                    ['N-BOX EX オプションカラー', 1691800],
                    ['N-BOX EX プレミアムカラー', 1713800],
                    ['N-BOX EXターボ', 1809500],
                    ['N-BOX EXターボ オプションカラー', 1842500],
                    ['N-BOX EXターボ プレミアムカラー', 1864500],
                    ['タントL', 1342000],
                    ['タントL オプションカラー', 1369500],
                    ['タントX', 1490500],
                    ['タントX オプションカラー', 1518000],
                    ['タントX 2トーン', 1556500],
                    ['タントX オプション2トーン', 1567500],
                    ['タントXターボ', 1644500],
                    ['タントXターボ オプションカラー', 1672000],
                    ['タントXターボ 2トーン', 1710500],
                    ['タントXターボ オプション2トーン', 1721500]
                    ],{include_blank: '価格を選択して下さい'} %>
    
  </div>
  
  <div class="field form-group">
    <%= form.label "画像をアップロード" %>
    <br>
    <%= form.file_field :image %>
  </div>
　
　<h5>※グレードを選択する際は重複しないようにご注意下さい。</h5>
　
  <div class="actions">
    <%= form.submit "新規登録", class: "btn btn-secondary" %>
  </div>
<% end %>
